$white: #FFFFFF;
$orange: #f4425c;
$dark-orange: #a82d3f;

$primary: $orange;

$left-menu-width: 300px;
$top-title-height: 100px;
$bottom-tray-height: 75px;

$unit: 16px;

$border-radius: 3px;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
